:root {
	--bg-dark: #101212;
	--bg: #151718;
	--bg-alt: #222426;
	--fg: #c5c5c5;
	
	--red: #f36c73;
	--yellow: #f1cf8a;
	--green: #95d252;
	--cyan: #75dab3;
	--blue: #70a5eb;
	--magenta:#bd74f1;
	
	--sans: sans-serif;
	--font-size: 0px;
	--font-weight: medium;
}

body {
    font-family: var(--sans);
    background-color: var(--bg-dark);
    color: var(--fg);
}

.container {
	background-color: var(--bg);
	width: max-width;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 24px;
	border: 2px solid var(--bg-alt);
	border-radius: 8px;
	text-align: center;
	/* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

img {
    border-radius: 4px;
}

::selection {
    background-color: var(--blue);
    color: var(--bg);
}
